<!DOCTYPE html>
<html>
<head>
    <title>Order Details</title>
</head>
<body>
    <h1>Order Confirm - Order #{{ order.id }}</h1>
    <p><strong>Your Order ID:</strong> {{ order.id }}</p>
    <p><strong>Order Date:</strong> {{ order.created_at }}</p>

    <p>Hello <strong>{{ user.first_name }} {{ user.last_name }}</strong></p>

    <p>Thank you for your order. We’ll send a confirmation along with Invoice when your order ships.</p>
    <p>If you would like to view the status of your order visit our website, or contact us over Customer Support.</p>

    <h2>Order Items</h2>
    <table border="1" cellspacing="0" cellpadding="5">
        <tr>
            <th>Product Images</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        {% for item in items %}
        <tr>
            <td><img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" width="100" height="100"></td>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>&#8377; {{ item.price }}</td>
        </tr>
        {% endfor %}
    </table>


    <h3>Shipping Charge: &#8377; {{ shipping_charge }}</h3>
    <h3>Order Total: &#8377; {{ order.total }}</h3>
    <h3>Final Total: &#8377; {{ final_total }}</h3>
</body>
</html>
