<!DOCTYPE html>
{% extends 'base.html' %}

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
{% block title %}Terms & Condition{% endblock %}
</head>
<body>
{% block content %}




    <!-- Body main wrapper start -->
    <div class="wrapper">

        <!-- Start Bradcaump area -->
        <!-- End Bradcaump area -->
        <!-- Start Blog Details Area -->
        <section class="htc__blog__details bg__white ptb--70">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="htc__blog__details__wrap">
                            <span class="ht__fashion__show">fashion week show</span>
                            <h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</h2>
                            <ul class="ht__blog__meta">
                                <li><i class="icon-clock icons"></i>19 May, 2016</li>
                                <li><i class="icon-pencil icons"></i>Mike Brand</li>
                            </ul>
                            <div class="ht__bl__thumb">
                                <img src="images/blog/big-images/1.jpg" alt="blog images">
                            </div>
                            <div class="bl__dtl">
                                <p>Formfitting clothing is all about a sweet spot. That elusive place where an item is tight but not clingy, sexy but not cloying, cool but not over the top. Alexandra Alvarez’s label, Alix, hits that mark with its range of comfortable, minimal, and neutral-hued bodysuits Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. </p>
                                <h4 class="title__line--5">Stanndard Featured</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem</p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>





{% endblock %}
</body>
</html>