<!DOCTYPE html>
{% extends 'base.html' %}

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
{% block title %}Terms & Condition{% endblock %}
</head>
<body>
{% block content %}




    <!-- Body main wrapper start -->
    <div class="wrapper">

        <!-- Start Bradcaump area -->
        <!-- End Bradcaump area -->
        <!-- Start Blog Details Area -->
        <section class="htc__blog__details bg__white ptb--70">
    <div class="container">
        <h1 style="text-align: center; color: #333;">Shipping Policy</h1>
        <br>
        <br>

        <h2>Shipping Locations</h2>
        <br>
        <p>Stellar Online Private Limited delivers to major locations in India. However, there could be certain locations where our services may not be available due to logistic issues. We continuously update the list of serviceable pincodes to address these issues.</p>
        <br>
        <br>

        <h2>Shipping Method</h2>
        <br>
        <p>We dispatch all parcels through reputed courier agencies, ensuring fast and reliable delivery. The parcel is typically delivered within 7 to 14 business days from the time you place the order.</p>
        <br>
        <br>

        <h2>Shipping Charges</h2>
        <br>
        <p>For delivery in India, shipping is absolutely <span class="highlight">free</span>. Our sales model is designed to provide a hassle-free shopping experience and to address any returns due to sizing issues or product defects.</p>

    </div>
        </section>


    </div>





{% endblock %}
</body>
</html>

